apiVersion: v1
kind: Service
metadata:
  name: node-service-nodeport
  labels:
    app: node-service
spec:
  type: NodePort
  ports:
  - port: 4000
    targetPort: 4000
    # nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: node-service
